@model Win10WebApp.Models.ReceiveTrustMaster
@{
    Layout = null;
}

<div class="row" id="@Win10WebApp.Utility.Constants.MODULES["RECEIVETRUST"]">
    <div class="col-md-14">
        <div class="panel panel-info">
            <div class="panel-heading">
                Receive T.Cs
            </div>
            <div class="panel-body">
                <div id="receiverTrustMasterRoot" class="row page-root" data-mode="view">
                   
                    <!--View Design-->
                    <div id="divDatatable" class="col-sm-8 grid-control">
                        <table class="table display dataTable compact" id="receiverTrustTable">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Issuer
                                    </th>
                                    <th>
                                        Curr
                                    </th>
                                    <th>
                                        Prefix
                                    </th>
                                    <th>
                                        Start No
                                    </th>
                                    <th>
                                        Nos
                                    </th>
                                    <th>
                                        End No
                                    </th>
                                    <th>
                                        Den
                                    </th>
                                    <th>
                                        Value
                                    </th>                                  
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <!--Details Design-->
                    <div id="divAddEdit" class="editor-control col-sm-4">
                        <form id="formAddEdit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @*<script type="text/template" id="editDeleteCommandTemplate">
        <span class="editor_edit"><a href="#" data-key="[key]" class="btn-success btn-sm">Edit</a></span>  |  <span class="editor_delete"><a href="#" data-key="[key]" class="btn-danger btn-sm">Delete</a></span>
    </script>*@
    <script type="text/javascript">
        let findUrl = "@Url.Action("Find")";
        let editDeleteCommandTemplateSelector = "#editDeleteCommandTemplate";
        let addEditFormSelector = "#formAddEdit";
        let pageRootSelector = "#receiverTrustMasterRoot";
        let receiverTrustTableSelector = "#receiverTrustTable";
        let dateFormat = "MM-dd-yyyy";
        let dataMode = "view";
        let saveButtonSelector = "#btnSaveAct";
        let cancelButtonSelector = "#btnCancelAct";
        var receiverTrustMasterPage = new page.ReceiverTrustMaster(pageRootSelector, receiverTrustTableSelector, dateFormat, editDeleteCommandTemplateSelector, addEditFormSelector, saveButtonSelector, cancelButtonSelector, dataMode);
        let columnSettings = [
            { data: "Date", render: "$dt.helper.renderDate" },
            { data: "Issuer" },
            { data: "Curr" },
            { data: "Prefix" },
            { data: "StartNo" },
            { data: "Nos" },
            { data: "EndNo" },
            { data: "Deno" },
            { data: "Value" }            
        ];
        receiverTrustMasterPage.initReceiverTrustDataTable(columnSettings, findUrl);
    </script>