@model Win10WebApp.Models.ReceiveTrustMaster
@{
    Layout = null;
}

<div class="row" id="@Win10WebApp.Utility.Constants.MODULES["RECEIVETRUST"]">
    <div class="col-md-14">
        <div class="panel panel-info">
            <div class="panel-heading">
                Receive T.Cs
            </div>
            <div class="panel-body">
                <div id="receiverTrustMasterRoot" class="row page-root" data-mode="view">
                    <!--<button type="button" class="btn btn-primary add-btn">Add</button>-->
                    <!--View Design-->
                    <div id="divDatatable" class="col-sm-12 grid-control">
                        <table class="table display dataTable compact" id="receiverTrustTable">
                            <thead>
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Issuer
                                    </th>
                                    <th>
                                        Currency
                                    </th>
                                    <th>
                                        Prefix
                                    </th>
                                    <th>
                                        Start Num
                                    </th>
                                    <th>
                                        Numbers
                                    </th>
                                    <th>
                                        End Num
                                    </th>
                                    <th>
                                        Denomination
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <!--Details Design-->
                    <div id="divAddEdit" class="editor-control col-sm-8">
                        <form id="formAddEdit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/template" id="editDeleteCommandTemplate">
        <span class="editor_edit"><a href="#" data-key="[key]">Edit</a></span>  |  <span class="editor_delete"><a href="#" data-key="[key]">Delete</a></span>
    </script>
    <script type="text/javascript" src="@Url.Content("\\scripts\\receive-trust-master.js")"></script>
    <script type="text/javascript">
        let findUrl = "@Url.Action("Find")";
        let editDeleteCommandTemplateSelector = "#editDeleteCommandTemplate";
        let addEditFormSelector = "#formAddEdit";
        let pageRootSelector = "#receiverTrustMasterRoot";
        let receiverTrustTableSelector = "#receiverTrustTable";
        let dateFormat = "MM-dd-yyyy";
        let dataMode = "view";
        let saveButtonSelector = "#btnSaveAct";
        let cancelButtonSelector = "#btnCancelAct";
        let page = new ReceiverTrustMasterPage(pageRootSelector, receiverTrustTableSelector, dateFormat, editDeleteCommandTemplateSelector, addEditFormSelector, saveButtonSelector, cancelButtonSelector, dataMode);
        let columnSettings = [
            { data: "Date", render: page.dataTableHelper.renderDate },
            { data: "Issuer" },
            { data: "Curr" },
            { data: "Prefix" },
            { data: "StartNo" },
            { data: "Nos" },
            { data: "EndNo" },
            { data: "Deno" },
            { data: "Value" },
            { data: null, className: "center", render: page.dataTableHelper.renderEditDeleteCommands }
        ];
        page.createDataTable(columnSettings, findUrl);
    </script>