@model Win10WebApp.ViewModels.BulkPurchaseViewModel
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">

            <div class="panel-body">
                <div id="forexMasterRoot" class="row page-root" style="margin-top:10px">

                    <!--Form Design-->
                    <div id="forexform" class="floating-form col-sm-12">
                        @{Html.RenderPartial("~/Views/BulkPurchase/_forexform.cshtml", Model);}
                    </div>


                    <!--View Design-->
                    <div id="divDatatable" class="col-sm-6 grid-control" style="margin-top:10px">
                        @{Html.RenderPartial("~/Views/BulkPurchase/_forexdatatable.cshtml", Model.BulkPurchaseForex);}
                    </div>

                    <!--Details Design-->
                    <div id="forexSummary" class="details-panel editor-control col-sm-6"  style="margin-top:10px">
                        @{Html.RenderPartial("~/Views/BulkPurchase/_forexsummary.cshtml", Model);}
                    </div>


                </div>
                @*<div class="command-panel col-sm-6 col-sm-offset-6">
                    <div class="row">
                        <div class="form-action forex-command-container col-sm-3">
                            <button type="button" class="btn btn-primary editor_add" id="btnAddAct" style="width:70px;margin-bottom:15px">Add</button>
                            <button type="button" class="btn btn-warning editor_edit" id="btnEditAct" style="width:70px;margin-bottom:15px">Edit</button>
                            <button type="button" class="btn btn-danger editor_delete" id="btnDeleteAct" style="width:70px;margin-bottom:15px">Delete</button>
                        </div>  
                        <div class="col-sm-3">
                            <div class="form-group floating-label">
                                <input class="form-control floating-input elementInput" id="NetPayable" name="NetPayable" value="@Model.BulkPurchase.NetPayable"
                                       type="text" placeholder=" " onclick="(this.type='number')">
                                <span class="highlight"></span>
                                <label>NetPayable</label>
                            </div>
                        </div>
                    </div>
                    
                </div>*@
            </div>
        </div>
    </div>
</div>