@model Win10WebApp.Models.BulkPurchaseForex

<table class="table display dataTable compact" id="forexTable">
    <thead>
        <tr>
            <th>
                Sr
            </th>
            <th>
                Currency
            </th>
            <th>
                AS
            </th>
            <th>
                Quantity
            </th>
            <th>
                Rate
            </th>
            <th>
                Gross Amt.
            </th>
        </tr>
    </thead>
</table>