@model Win10WebApp.Models.BulkPurchasePayment

<table class="table display dataTable compact" id="paymentTable">
    <thead>
        <tr>
            <th>
                Sr
            </th>
            <th>
                Cash/Bank A/c
            </th>
            <th>
                Rcpt/Payment
            </th>
            <th>
                Cheque #
            </th>
            <th>
                Cheque Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Remark
            </th>
        </tr>
    </thead>
</table>